@import url("https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFBF3;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 59px;
  /* identical to box height */


  color: #000000;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 39px;
  /* identical to box height */


  color: #000000;

}

header {
  width: 100%;
  height: 60px;
  /* position: fixed; */
}

header .l-header {
  max-width: 1900px;
  height: 100%;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.l-header .right__ponel {
  width: 130px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.right__ponel button {
  padding: 9px 22px 9px 11px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #FFFBF3;
  border-radius: 16px;
  border: none;
  cursor: pointer;
}

main {
  width: 100%;
}

.l-main {
  max-width: 1900px;
  margin: 0 auto;
}

.l-main {}

.main-container {
  max-width: 1280px;
  margin: 0 auto;
}

.tour_package {

  margin: 115px 0;
  padding: 54px 30px 36px;
  background: #FFFFFF;
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

.tour_package .tour_package--date-city {
  border: 0.5px solid rgba(0, 0, 0, 0.404);
  border-radius: 20px;

}

.tour_package .tour_package--date-city form {
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.tour_package .tour_package--date-city form .liener {
  width: 2px;
  height: 65px;
  display: block;
  background: silver;
}

.tour_package .tour_package--date-city form label {
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.tour_package .tour_package--date-city form label span {
  margin-bottom: 7px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #B6B6B6;
  cursor: pointer;
}

.tour_package .tour_package--date-city form label input {
  text-align: center;
  border: none;
  outline: none;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */


  color: #000000;
}

input[type="date"]::-webkit-calendar-picker-indicator {

  display: none;

}

/* tour_package--info */

.tour_package--info {
  margin-bottom: 70px;
}

.tour_package--info form {
  /* max-width: 1200px; */
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 auto; */
}

.tour_package--info form label {
  display: flex;
  width: 33%;
  flex-direction: column;
  align-items: center;
  margin: 50px 0;
}

.tour_package--info form label h3 {
  padding-bottom: 20px;
}

.tour_package--info form label .budget--container {
  width: 267px;
  display: flex;
  justify-content: space-between;
}

.tour_package--info form label .budget--container input[type="number"] {
  width: 120px;
  height: 55px;
  border: 0.5px solid rgba(0, 0, 0, 0.404);
  border-radius: 20px;
  padding: 14px 25px;
  font-family: 'Karla';
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
}

.tour_package--info form label .budget--container input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.tour_package--info form label .budget--container input[type="number"]::placeholder {
  /* identical to box height */
  position: relative;

  color: #B6B6B6;

}

.tour_package--info form label select {
  width: 267px;
  /* height: 55px; */

  padding: 11.5px;
  border-radius: 20px;
  font-family: 'Karla', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #B6B6B6;
}

.tour_package--info form label select::-webkit-scrollbar {
  width: 0;
}

.tour_package--info form label select option {
  width: 100%;
  color: #000;
}

.tour_package--info form label select option:hover {
  background-color: #ffdd9a;
}

.tour_package--btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.tour_package--btn button {
  padding: 10px 80px;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  border: none;
  color: #000000;
  background: #FFCF08;
  border-radius: 30px;

  cursor: pointer;
}