<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Tour</title>
  <link rel="stylesheet" href="static/style_all_tour.css">
</head>

<body>
  <header>
    <div class="l-header">
      <div class="logo">
        <a href="#">
          <img src="static/assets/logo.svg" alt="logo">
        </a>
      </div>
      <div class="right__ponel">
        <button class="sign-in">
          <img src="static/assets/sign.svg" alt="sign">
        </button>
        <div class="profile">
          <a href="#">
            <img src="static/assets/profile.png" alt="profile">
          </a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="l-main">
      <!-- <div class="prev"></div> -->
      <section class="l-main__container">



        <h2>
          Все туры
        </h2>
        <div class="cards">
          <div class="card">
            <div class="photo__card">
              <img src="static/assets/paperclip.svg" class="papperclip" alt="paperclip">
              <img src="static/assets/photo.png" alt="photo">
            </div>
            <div class="title">
              <h4>Оренбург</h4>
              <p class="subtitle">2 дня, 3 места</p>
            </div>
            <div class="attractions">
              <ul>
                <li>
                  <div class="attractions__info">
                    <h5>Музей AZ</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Выставочный зал парка «Зарядье»</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-1.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Дом-музей В.Л. Пушкина</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-2.png" alt="city">
                  </div>
                </li>
              </ul>
            </div>
            <div class="attractions-btn">
              <button>Спланировать поездку</button>
            </div>
          </div>

          <div class="card">
            <div class="photo__card">
              <img src="static/assets/paperclip.svg" class="papperclip" alt="paperclip">
              <img src="static/assets/photo1.png" alt="photo">
            </div>
            <div class="title">
              <h4>Алтай</h4>
              <p class="subtitle">2 дня, 3 места</p>
            </div>
            <div class="attractions">
              <ul>
                <li>
                  <div class="attractions__info">
                    <h5>Музей AZ</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Выставочный зал парка «Зарядье»</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-1.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Дом-музей В.Л. Пушкина</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-2.png" alt="city">
                  </div>
                </li>
              </ul>
            </div>
            <div class="attractions-btn">
              <button>Спланировать поездку</button>
            </div>
          </div>

          <div class="card">
            <div class="photo__card">
              <img src="static/assets/paperclip.svg" class="papperclip" alt="paperclip">
              <img src="static/assets/photo.png" alt="photo">
            </div>
            <div class="title">
              <h4>Алтай</h4>
              <p class="subtitle">2 дня, 3 места</p>
            </div>
            <div class="attractions">
              <ul>
                <li>
                  <div class="attractions__info">
                    <h5>Музей AZ</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Выставочный зал парка «Зарядье»</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-1.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Дом-музей В.Л. Пушкина</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-2.png" alt="city">
                  </div>
                </li>
              </ul>
            </div>
            <div class="attractions-btn">
              <button>Спланировать поездку</button>
            </div>
          </div>

          <div class="card">
            <div class="photo__card">
              <img src="static/assets/paperclip.svg" class="papperclip" alt="paperclip">
              <img src="static/assets/photo1.png" alt="photo">
            </div>
            <div class="title">
              <h4>Казань</h4>
              <p class="subtitle">2 дня, 3 места</p>
            </div>
            <div class="attractions">
              <ul>
                <li>
                  <div class="attractions__info">
                    <h5>Музей AZ</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Выставочный зал парка «Зарядье»</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-1.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Дом-музей В.Л. Пушкина</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-2.png" alt="city">
                  </div>
                </li>
              </ul>
            </div>
            <div class="attractions-btn">
              <button>Спланировать поездку</button>
            </div>
          </div>

          <div class="card">
            <div class="photo__card">
              <img src="static/assets/paperclip.svg" class="papperclip" alt="paperclip">
              <img src="static/assets/photo2.png" alt="photo">
            </div>
            <div class="title">
              <h4>Тюмень</h4>
              <p class="subtitle">2 дня, 3 места</p>
            </div>
            <div class="attractions">
              <ul>
                <li>
                  <div class="attractions__info">
                    <h5>Музей AZ</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Выставочный зал парка «Зарядье»</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-1.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Дом-музей В.Л. Пушкина</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-2.png" alt="city">
                  </div>
                </li>
              </ul>
            </div>
            <div class="attractions-btn">
              <button>Спланировать поездку</button>
            </div>
          </div>

          <div class="card">
            <div class="photo__card">
              <img src="static/assets/paperclip.svg" class="papperclip" alt="paperclip">
              <img src="static/assets/photo4.png" alt="photo">
            </div>
            <div class="title">
              <h4>Воронеж</h4>
              <p class="subtitle">2 дня, 3 места</p>
            </div>
            <div class="attractions">
              <ul>
                <li>
                  <div class="attractions__info">
                    <h5>Музей AZ</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Выставочный зал парка «Зарядье»</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-1.png" alt="city">
                  </div>
                </li>
                <li>
                  <div class="attractions__info">
                    <h5>Дом-музей В.Л. Пушкина</h5>
                    <p>музей</p>
                  </div>
                  <div class="img">
                    <img src="static/assets/375px-2.png" alt="city">
                  </div>
                </li>
              </ul>
            </div>
            <div class="attractions-btn">
              <button>Спланировать поездку</button>
            </div>
          </div>
        </div>
      </section>
    </div>
  </main>
</body>

</html>