<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Main</title>
  <link rel="stylesheet" href="static/style.css">
</head>
<body>
  <header>
    <div class="l-header">
      <div class="logo">
        <a href="https://russpass.ru">
          <img src="static/assets/logo.svg" alt="logo">
        </a>
      </div>
      <div class="right__ponel">
        <a href="/login">
        <button class="sign-in">
          <span>Войти</span> 
          <img src="static/assets/sign_icon.svg" alt="sign">
        </a>
          
        </button>
        <div class="profile">
          <a href="/profile">
            <img src="static/assets/profile.png" alt="profile">
          </a>
        </div>
      </div>
    </div>
  </header>
  <main>
    <div class="l-main">
      <div class="title">
        <h1>Trip Tailor</h1>
        <p>Наслаждайтесь отдыхом, не беспокоясь о мелочах!</p>
      </div>
      <div class="info">
        <p>Онлайн сервис автоматического подбора турпакетов. TripTailor подберет идеальный турпакет, включая место, трансфер, программу и многое другое. </p>
        <div class="liener__container">
          <div class="liener"></div>
        </div>
        <div class="info__btn">

          <button>Попробовать</button>
        </div>
      </div>
    </div>
  </main>
</body>
</html>