<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hobbies</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style_info.css') }}">
</head>

<body>
  <main>
    <div class="card-contaier">
      <p class="skip">
        <a href="#">Пропустить</a>
      </p>

      <h2 class="title">Чем вы увлекаетесь?</h2>
      <p class="subtitle">Темы помогут настроить лучшие предложения</p>



      <div class="cards">
        <div class="card">
          <a href="#">
            <figure>
              <img src="{{ url_for('static', filename='assets/art.png') }}" class="art_img" alt="art">
              <figcaption>Искусство</figcaption>
            </figure>
          </a>

        </div>
        <div class="card">
          <a href="#">
            <figure>
              <img src="{{ url_for('static', filename='assets/sport.png') }}" alt="art">
              <figcaption>Спорт</figcaption>
            </figure>
          </a>

        </div>
        <div class="card">
          <a href="#">
            <figure>
              <img src="{{ url_for('static', filename='assets/IT.png') }}" class="it_img" alt="art">
              <figcaption>IT</figcaption>
            </figure>
          </a>

        </div>
        <div class="card">
          <a href="#">
            <figure>
              <img src="{{ url_for('static', filename='assets/music.png') }}"  alt="art">
              <figcaption>Музыка</figcaption>
            </figure>
          </a>

        </div>
        <div class="card">
          <a href="#">
            <figure>
              <img src="{{ url_for('static', filename='assets/movie.png') }}" class="movie_img" alt="art">
              <figcaption>Кино</figcaption>
            </figure>
          </a>

        </div>
        <div class="card">
          <a href="#">
            <figure>
              <img src="{{ url_for('static', filename='assets/dance.png') }}" alt="art">
              <figcaption>Танцы</figcaption>
            </figure>
          </a>

        </div>



      </div>

    </div>
  </main>
</body>

</html>