<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tour</title>
  <link rel="stylesheet" href="static/style_tour_info.css">
</head>

<body>
  <header>
    <div class="l-header">
      <div class="logo">
        <a href="#">
          <img src="static/assets/logo.svg" alt="logo">
        </a>
      </div>
      <div class="right__ponel">
        <button class="sign-in">
          <img src="static/assets/sign.svg" alt="sign">
        </button>
        <div class="profile">
          <a href="#">
            <img src="static/assets/profile.png" alt="profile">
          </a>
        </div>
      </div>
    </div>
  </header>
  <!-- main -->
  <main>
    <div class="l-main">
      <div class="tour">
        <div class="tour--info">
          <h2>Тур по Альпам</h2>
          <div class="tour--description">
            <h3>Описание</h3>
            <p>Экскурсионный тур на автобусе и пароме в Германию и Швейцарию из Санкт-Петербурга по маршруту: Хельсинки
              - Турку - Стокгольм.</p>
          </div>
          <div class="tour--programm">
            <h3>Программа тура</h3>
            <ul>
              <li>
                <h5>I ДЕНЬ: Санкт-Петербург</h5>
                <p>Экскурсия по разводным мостам.</p>
              </li>
              <li>
                <h5>II ДЕНЬ: Турку</h5>
                <p>Экскурсия по городу.</p>
              </li>
              <li>
                <h5>III ДЕНЬ: Стокгольм</h5>
                <p>Обзорная экскурсия.</p>
              </li>
            </ul>
          </div>
          <div class="tour--grade">
            <span>4.9</span>
          </div>
        </div>

        <div class="tour--description_bg">
          <div class="tour--description_bg--container">
            <div class="arrows">
              <div class="prev"></div>
              <div class="next"></div>
            </div>
            <img src="static/assets/mountain.png" alt="mountain">
            <div class="tour--description_bg-btn">
              <button>Выбрать</button>
            </div>
          </div>

        </div>
      </div>
      <div class="more">
        <div class="more--info">
          <h2>Подробнее</h2>
          <div class="more--price">
            <h3>В стоимость входит</h3>
            <ul>
              <li>Питание</li>
              <li>Проживание в отелях 2-3*, 2-3-х местные номера с удобствами</li>
              <li>Сопровождение на маршруте</li>
              <li>Экскурсионное обслуживание по программе</li>
            </ul>
          </div>
          <div class="more--additional">
            <h3>Дополнительные услуги</h3>
            <ul>
              <li> Медицинская страховка - от 1 у.е. в день</li>
              <li>Оформление визы - от 75 у.е.</li>
              <li>Пользование аудиогидом - 11 у.е.</li>
            </ul>
          </div>
        </div>
        <div class="more--plug">
            <div id="slider" class="slider">
                <img src="static/assets/mountain.png" class="slider-img" alt="Mountain 1">
                <img src="static/assets/mountain1.png" class="slider-img" alt="Mountain 2">
                <img src="static/assets/mountain.png" class="slider-img" alt="Mountain 3">
                <img src="static/assets/mountain1.png" class="slider-img" alt="Mountain 4">
            </div>
        </div>


      </div>
    </div>
  </main>
<script src="main.js"></script>
</body>

</html>